<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.DoctorMapper">
  <resultMap id="BaseResultMap" type="com.web.pojo.Doctor">
    <id column="doctor_id" jdbcType="INTEGER" property="doctorId" />
    <result column="zhenshi_id" jdbcType="INTEGER" property="zhenshiId" />
    <result column="office_id" jdbcType="INTEGER" property="officeId" />
    <result column="doctor_name" jdbcType="VARCHAR" property="doctorName" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    doctor_id, zhenshi_id, office_id, doctor_name
  </sql>
  <select id="selectByExample" parameterType="com.web.pojo.DoctorExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from doctor
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from doctor
    where doctor_id = #{doctorId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from doctor
    where doctor_id = #{doctorId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.web.pojo.DoctorExample">
    delete from doctor
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.web.pojo.Doctor">
    insert into doctor (doctor_id, zhenshi_id, office_id, 
      doctor_name)
    values (#{doctorId,jdbcType=INTEGER}, #{zhenshiId,jdbcType=INTEGER}, #{officeId,jdbcType=INTEGER}, 
      #{doctorName,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.web.pojo.Doctor">
    insert into doctor
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="doctorId != null">
        doctor_id,
      </if>
      <if test="zhenshiId != null">
        zhenshi_id,
      </if>
      <if test="officeId != null">
        office_id,
      </if>
      <if test="doctorName != null">
        doctor_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="doctorId != null">
        #{doctorId,jdbcType=INTEGER},
      </if>
      <if test="zhenshiId != null">
        #{zhenshiId,jdbcType=INTEGER},
      </if>
      <if test="officeId != null">
        #{officeId,jdbcType=INTEGER},
      </if>
      <if test="doctorName != null">
        #{doctorName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.web.pojo.DoctorExample" resultType="java.lang.Long">
    select count(*) from doctor
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update doctor
    <set>
      <if test="record.doctorId != null">
        doctor_id = #{record.doctorId,jdbcType=INTEGER},
      </if>
      <if test="record.zhenshiId != null">
        zhenshi_id = #{record.zhenshiId,jdbcType=INTEGER},
      </if>
      <if test="record.officeId != null">
        office_id = #{record.officeId,jdbcType=INTEGER},
      </if>
      <if test="record.doctorName != null">
        doctor_name = #{record.doctorName,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update doctor
    set doctor_id = #{record.doctorId,jdbcType=INTEGER},
      zhenshi_id = #{record.zhenshiId,jdbcType=INTEGER},
      office_id = #{record.officeId,jdbcType=INTEGER},
      doctor_name = #{record.doctorName,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.web.pojo.Doctor">
    update doctor
    <set>
      <if test="zhenshiId != null">
        zhenshi_id = #{zhenshiId,jdbcType=INTEGER},
      </if>
      <if test="officeId != null">
        office_id = #{officeId,jdbcType=INTEGER},
      </if>
      <if test="doctorName != null">
        doctor_name = #{doctorName,jdbcType=VARCHAR},
      </if>
    </set>
    where doctor_id = #{doctorId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.web.pojo.Doctor">
    update doctor
    set zhenshi_id = #{zhenshiId,jdbcType=INTEGER},
      office_id = #{officeId,jdbcType=INTEGER},
      doctor_name = #{doctorName,jdbcType=VARCHAR}
    where doctor_id = #{doctorId,jdbcType=INTEGER}
  </update>
</mapper>