<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.PaiduiMapper">
  <resultMap id="BaseResultMap" type="com.web.pojo.Paidui">
    <id column="pd_id" jdbcType="INTEGER" property="pdId" />
    <result column="zhenshi_id" jdbcType="INTEGER" property="zhenshiId" />
    <result column="office_id" jdbcType="INTEGER" property="officeId" />
    <result column="pd_no" jdbcType="INTEGER" property="pdNo" />
    <result column="pd_time" jdbcType="TIMESTAMP" property="pdTime" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    pd_id, zhenshi_id, office_id, pd_no, pd_time
  </sql>
  <select id="selectByExample" parameterType="com.web.pojo.PaiduiExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from paidui
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from paidui
    where pd_id = #{pdId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from paidui
    where pd_id = #{pdId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.web.pojo.PaiduiExample">
    delete from paidui
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.web.pojo.Paidui">
    insert into paidui (pd_id, zhenshi_id, office_id, 
      pd_no, pd_time)
    values (#{pdId,jdbcType=INTEGER}, #{zhenshiId,jdbcType=INTEGER}, #{officeId,jdbcType=INTEGER}, 
      #{pdNo,jdbcType=INTEGER}, #{pdTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.web.pojo.Paidui">
    insert into paidui
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="pdId != null">
        pd_id,
      </if>
      <if test="zhenshiId != null">
        zhenshi_id,
      </if>
      <if test="officeId != null">
        office_id,
      </if>
      <if test="pdNo != null">
        pd_no,
      </if>
      <if test="pdTime != null">
        pd_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="pdId != null">
        #{pdId,jdbcType=INTEGER},
      </if>
      <if test="zhenshiId != null">
        #{zhenshiId,jdbcType=INTEGER},
      </if>
      <if test="officeId != null">
        #{officeId,jdbcType=INTEGER},
      </if>
      <if test="pdNo != null">
        #{pdNo,jdbcType=INTEGER},
      </if>
      <if test="pdTime != null">
        #{pdTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.web.pojo.PaiduiExample" resultType="java.lang.Long">
    select count(*) from paidui
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update paidui
    <set>
      <if test="record.pdId != null">
        pd_id = #{record.pdId,jdbcType=INTEGER},
      </if>
      <if test="record.zhenshiId != null">
        zhenshi_id = #{record.zhenshiId,jdbcType=INTEGER},
      </if>
      <if test="record.officeId != null">
        office_id = #{record.officeId,jdbcType=INTEGER},
      </if>
      <if test="record.pdNo != null">
        pd_no = #{record.pdNo,jdbcType=INTEGER},
      </if>
      <if test="record.pdTime != null">
        pd_time = #{record.pdTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update paidui
    set pd_id = #{record.pdId,jdbcType=INTEGER},
      zhenshi_id = #{record.zhenshiId,jdbcType=INTEGER},
      office_id = #{record.officeId,jdbcType=INTEGER},
      pd_no = #{record.pdNo,jdbcType=INTEGER},
      pd_time = #{record.pdTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.web.pojo.Paidui">
    update paidui
    <set>
      <if test="zhenshiId != null">
        zhenshi_id = #{zhenshiId,jdbcType=INTEGER},
      </if>
      <if test="officeId != null">
        office_id = #{officeId,jdbcType=INTEGER},
      </if>
      <if test="pdNo != null">
        pd_no = #{pdNo,jdbcType=INTEGER},
      </if>
      <if test="pdTime != null">
        pd_time = #{pdTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where pd_id = #{pdId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.web.pojo.Paidui">
    update paidui
    set zhenshi_id = #{zhenshiId,jdbcType=INTEGER},
      office_id = #{officeId,jdbcType=INTEGER},
      pd_no = #{pdNo,jdbcType=INTEGER},
      pd_time = #{pdTime,jdbcType=TIMESTAMP}
    where pd_id = #{pdId,jdbcType=INTEGER}
  </update>
</mapper>